<center class="exercise">
  <% if @result.word.present? %>
    <h1><%= @result.word.front_translation %></h1>
    <h1 id="spoiler">*********</h1>
    <h1 id="answer" class="hidden"><%= @result.word.back_translation %></h1>
    <% if @result.remaining_words_count.positive? %>
      <h5><%= pluralize(@result.remaining_words_count, 'word') %> remaining</h5>
    <% else %>
      <h5>The last word</h5>
    <% end %>
    <%= audio_tag @result.word.pronunciation, id: "audio" if @result.word.pronunciation.present? %>
    <%= button_tag "Show the answer (S)", id: "show_the_answer" %>
    <div class="ruby">
      <%= button_to "Correct (Q)", exercise_path(correct: true, kind: @result.word.kind, word_id: @result.word.id), method: :put, id: "correct", class: "hidden" %>
      <%= button_to "Wrong (W)", exercise_path(kind: @result.word.kind, word_id: @result.word.id), method: :put, id: "wrong", class: "hidden" %>
      <%= button_tag "Play Audio (A)", type: 'button', id: "play_audio", class: "hidden" if @result.word.pronunciation.present? %>
    </div>
  <% else %>
    <h1>Congratulations! You've learned all the words</h1>
  <% end %>
</center>
