<!DOCTYPE html>
<html>
  <head>
    <title>Slownik</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <div class="ruby">
        <%= link_to(root_path) { button_tag("Home") } %>
        <%= link_to(exercise_path) { button_tag("Exercise") } %>
        <%= link_to(words_path) { button_tag("Words") } %>
        <%= link_to(new_word_path) { button_tag("Add new word") } %>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
